[submodule "base-domains"]
	path = base-domains
	url = https://github.com/PranayK27/springboot-kafka-microservices
[submodule "email-service"]
	path = email-service
	url = https://github.com/PranayK27/springboot-kafka-microservices
[submodule "order-service"]
	path = order-service
	url = https://github.com/PranayK27/springboot-kafka-microservices
[submodule "stock-service"]
	path = stock-service
	url = https://github.com/PranayK27/springboot-kafka-microservices
