[submodule "base-domains"]
	path = base-domains
	url = https://github.com/PranayK27/springboot-kafka-microservices/base-domains
[submodule "email-service"]
	path = email-service
	url = https://github.com/PranayK27/springboot-kafka-microservices/email-service
[submodule "order-service"]
	path = order-service
	url = https://github.com/PranayK27/springboot-kafka-microservices/order-service
[submodule "stock-service"]
	path = stock-service
	url = https://github.com/PranayK27/springboot-kafka-microservices/stock-service
